# Compiler files
cache*/
out/
bin/
docs/
artifacts/

# Ignores development broadcast logs
!/broadcast
/broadcast/*/31337/
/broadcast/**/dry-run/
/broadcast/

# Dotenv file
.env
.env\.*

# Node fun
node_modules/
yarn-error.log

# Coverage
*.info
